
<nav class="navbar admin-navbar">
     <div class="navbar-left">
          <a class="navbar-brand prokart-brand">ProKart</a>
     </div>
   
     <div class="navbar-right">
       <span class="admin-label">admin / Admin</span>
       <a class="nav-link text-white" routerLink="/">Home</a>
       <a class="nav-link text-white" routerLink="/adminviewproduct">Product</a>
       <a class="nav-link text-white" routerLink="/orderplaced">Order Placed</a>
       <a class="nav-link text-white" routerLink="/reviews">Review</a>
       <button class="btn btn-danger btn-sm" routerLink="/logout">Logout</button>
     </div>
   </nav>
   
