
<nav class="navbar user-navbar">
    <div class="navbar-left">
      <a class="navbar-brand prokart-brand" href="#">ProKart</a>
    </div>
  
    <div class="navbar-right">
      <span class="user-label">User / User</span>
      <a class="nav-link text-white" routerLink="/home">Home</a>
      <a class="nav-link text-white" routerLink="/userviewproduct">Products</a>
      <a class="nav-link text-white" routerLink="/reviews">Review</a>
      <a class="nav-link text-white cart-icon" routerLink="/myorders">
        🛒
      </a>
      <button class="btn btn-danger btn-sm" routerLink="/logout">Logout</button>
    </div>
  </nav>
  